{% extends "students/base.html" %}


{% block title %}PyBursa detail info Students{% endblock title %}


{% block page_main_header %}{{ students.name }} {{ students.surname }}{% endblock %}


{% block page_content %}
<div class="col-md-6">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="30%">student card</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>birth date</td>
          <td>{{ students.date_of_birth }}</td>
        </tr>
        <tr>
          <td>address</td>
          <td>{{ students.address }}</td>
        </tr>
        <tr>
          <td>email</td>
          <td>{{ students.email }}</td>
        </tr>
        <tr>
          <td>login skype</td>
          <td>{{ students.skype }}</td>
        </tr>
        <tr>
          <td>phone</td>
          <td>{{ students.phone }}</td>
        </tr>
        <tr>
          <td>courses</td>
          <td>
            {% for course in students.courses.all %}
            <a href="{% url 'courses:detail' course.id %}">{{ course.name }}<br></a>
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-6"></div>
{% endblock page_content %}
