{% extends "base.html" %}


{% load staticfiles %}


{% block title %}PyBursa students list{% endblock title %}


{% block nav_class_students %}active{% endblock %}


{% block page_main_header %}List students PyBursa{% endblock %}


{% block content %}
<div class="col-lg-12">
  <div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th width="5%">#</th>
        <th>Surname Name</th>
        <th width="40%">Address</th>
        <th>skype</th>
        <th>Courses</th>
      </tr>
    </thead>
    <tbody>
      {% for item in students %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'students:detail' item.id %}">
          {{ item.name }} {{ item.surname }}</a></td>
        <td>{{ item.address }}</td>
        <td>{{ item.skype }}</td>
        <td>
         {% for course in item.courses.all %}
        <a href="{% url 'courses:detail' course.id %}">{{ course.name }}<br></a>
        {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock content %}