{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }} - PyBursa{% endblock title %}


{% block nav_class_students %}active{% endblock %}


{% block page_main_header %}{{ student.name }} {{ student.surname }}{% endblock %}


{% block content %}
<div class="col-lg-12">
  <div class="col-md-6">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="30%">student card</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>birth date</td>
            <td>{{ student.date_of_birth }}</td>
          </tr>
          <tr>
            <td>address</td>
            <td>{{ student.address }}</td>
          </tr>
          <tr>
            <td>email</td>
            <td>{{ student.email }}</td>
          </tr>
          <tr>
            <td>login skype</td>
            <td>{{ student.skype }}</td>
          </tr>
          <tr>
            <td>phone</td>
            <td>{{ student.phone }}</td>
          </tr>
          <tr>
            <td>courses</td>
            <td>
              {% for course in student.courses.all %}
              <a href="{% url 'courses:detail' course.id %}">{{ course.name }}<br></a>
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6"></div>
</div>
{% endblock content %}
