.navbar-inverse {
  background-color: #333333;
}

.header a, a:hover{
  color: #f0ad4e;
  text-decoration: none;
}

.header h1{
  letter-spacing: 13px;
  font-size: 300%;
}

.header p {
  color: white !important;
  font-size: 90%;
  letter-spacing: 3px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #31b0d5;
}

.nav-pills > li > a {
  color: #fff;
  font-size: 115%;
}

.nav-pills > li > a:hover {
  background-color: #269abc;
}

.navbar-inverse {
  padding: 0.5%;
}

@media (max-width: 767px) {
  .nav-pills > li {
    float: none;
  }

  .nav-pills {
    text-align: center;
  }

  .header {
    text-align: center;
  }
}

.clear {
  clear:both;
  height: 30px;
}

.wrapper {
  min-height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #333333;
  color: #f0ad4e;
  padding: 17px 0 18px 0;
}

.emotional {
    font-style: italic;
}

#program-course-to-python {
  text-align: center;
}

.entery-title-page2 {
  text-align: center;
}

.position {
  text-align: center;
}

.table > thead:first-child > tr:first-child > th{
  background-color: #27ae60;
  color: #ffffff;
  text-align: center;
}

.nth-of-type {
  background: #e9e9e9;
}


.task-list p .label {
    position: absolute;
    right: 0;
    line-height: 15px;
}

.progress.progress-xs {
    height: 5px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
