{% extends "base.html" %}


{% load staticfiles %}


{% block title %}PyBursa contact{% endblock title %}


{% block nav_class_contact %}active{% endblock %}


{% block page_main_header %}PyBursa organizers{% endblock %}


{% block content %}
<div class="col-lg-12">
  <div class="row">
    <div class="info-block col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="position"><h3>Director</h3></div>
      <ul class="list-group">
        <li class="list-group-item">Name: Ivan Voloboev</li>
        <li class="list-group-item">Skype: vanelin</li>
        <li class="list-group-item">Email: voloboev@gmail.com</li>
        <li class="list-group-item">Phone: 0673338778</li>
      </ul>
    </div>
    <div class="info-block col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="position"><h3>Founder</h3></div>
      <ul class="list-group">
        <li class="list-group-item">Name: Max Payne</li>
        <li class="list-group-item">Skype: madmax</li>
        <li class="list-group-item">Email: madmax@gmail.com</li>
        <li class="list-group-item">Phone: 0669996666</li>
      </ul>
    </div>
    <div class="info-block col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="position"><h3>Manager</h3></div>
      <ul class="list-group">
        <li class="list-group-item">Name: Mary Monahova</li>
        <li class="list-group-item">Skype: mary777</li>
        <li class="list-group-item">Email: mary@gmail.com</li>
        <li class="list-group-item">Phone: 0501346549</li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
