<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PyBursa Description</title>
    <meta name="description" content="PyBursa is the easiest way to learn how to code. It's fun, and you can do it with your friends.">
    <meta name="keywords" content="Python Programming Beginners Advanced learning Bursa PyBursa">
    {% load staticfiles %}
    <!-- <link rel="icon" type="image/png" href="../static/images/django-icon.png" /> -->
    <link rel="icon" type="image/png" href="{% static 'images/django-icon.png' %}" />
    <!-- Bootstrap -->
    <!-- <link href="../static/css/bootstrap.css" rel="stylesheet"> -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Main Style -->
    <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
     <nav role="navigation" class="navbar navbar-inverse">
        <div class="container">
        <div class="navbar-header header">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1><a href="http://pybursa.com/">Python|Django</a></h1> 
                <p>Professional courses!</p>
              </div>
            </div>
          </div>
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
          <div id="navbarCollapse" class="collapse navbar-collapse navbar-right">
            <ul class="nav nav-pills">
              <!-- <li class="active"> <a href="/">Main</a> </li> -->
              <li class="active"> <a href="{% url 'index' %}">Main</a> </li>
              <li> <a href="{% url 'contact' %}">Contacts</a> </li>
              <li> <a href="{% url 'student_list' %}">Students</a> </li>
            </ul>
          </div>
        </div>
     </nav> 
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="entery-title">PyBursa teaches programming and web development</h1>
          <h2 class="entery-title">Description</h2>
          <div class="entery-content">
            <div class="subheading">
              <p class="lead emotional">With our courses you will learn Python programming through hands-on, interesting examples that are useful and fun! Launch your development career with a proven program, written by Python professionals. PyBursa.
              </p>
            </div>
            <hr>
            <h2 id="program-course-to-python">Program</h2>
            <div class="lead emotional">
              <p>
                <span><b>Course 1:</b> Introduction to Python</span><br>
                <span><b>Course 2:</b> Web Development with Python</span><br>
                <span><b>Course 3:</b> Advanced Web Development with Django</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <footer>
    <div class="container">
      <p class="text-center">© 2016|Developed by Ivan</p>
    </div>
  </foote
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="../static/js/bootstrap.js"></script> -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>