{% extends "base.html" %}


{% block title %}PyBursa Organizers{% endblock title %}


{% block nav_class_contact %}active{% endblock %}


{% block page_main_header %}List all students PyBursa{% endblock %}


{% block page_header_description %}The graduates of 2016:{% endblock %}


{% block content %}
<div class="col-lg-12">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th width="5%">No</th>
          <th>Surname</th>
          <th>Name</th>
          <th width="40%">Address</th>
          <th>Skype</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="{% url 'student_detail' %}">1</a></td>
          <td>Makhno</td>
          <td>Yuryi</td>
          <td>Ukrain, Kiev, ul. Berezhanskaya, 9</td>
          <td>makhno_y</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Haharo</td>
          <td>Denys</td>
          <td>Ukrain, Harkov, prosp. Gagarina, 41/2</td>
          <td>haharo_d</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Povazhniuk</td>
          <td>Serhei</td>
          <td>Ukrain, Harkov, ul. Sumskaya, 124</td>
          <td>povajnuk_s</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Tokar</td>
          <td>Ruslan</td>
          <td>Ukrain, Nikolaev, ul. Sovetskaya, 13/4</td>
          <td>tokar_r</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Volinskyi</td>
          <td>Bohdan</td>
          <td>Ukrain, Nikolaev, prosp. Oktyabrskiy, 342/2</td>
          <td>volinskiy_b</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}