{% extends "base.html" %}


{% block title %}Information about the courses{% endblock title %}


{% block course_students %}?course_id={{ course.id }}{% endblock %}


{% block page_main_header %}{{ course.name }}{% endblock %}


{% block page_header_description %}{{ course.description|truncatechars:32 }}{% endblock %}


{% block content %}
<div class="col-lg-12">
  <div class="entery-content">
    <h2>Coaches</h2>
{% include "include/instructor_include.html" with block_title="Coach" instructor=course.coach %}
{% include "include/instructor_include.html" with block_title="Assistant" instructor=course.assistant %}
    <hr>
    <h2>Course plan</h2>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th width="3%">#</th>
          <th width="20%">Subject</th>
          <th width="30%">Description</th>
         </tr>
      </thead>
      <tbody>
      {% for lesson in lesson %}
        <tr>
          <td>{{ lesson.order }}</td>
          <td>{{ lesson.subject }}</td>
          <td>{{ lesson.description|linebreaksbr }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock content %}