{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ page_title }}{% endblock title %}


{% block course_students %}?course_id={{ course.id }}{% endblock %}


{% block page_main_header %}{{ course.name }}{% endblock %}


{% block page_header_description %}{{ course.description|truncatechars:32 }}{% endblock %}


{% block content %}
<div class="col-lg-12">
{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</div>
{% endif %}
  <div class="entery-content">
    <h2>Coaches</h2>
{% if course.coach %}
  {% include "include/instructor_include.html" with block_title="Coach" instructor=course.coach %}
{% endif %}
{% if course.assistant %}
  {% include "include/instructor_include.html" with block_title="Assistant" instructor=course.assistant %}
{% endif %}
    <hr>
    <a href="{% url 'courses:add-lesson' object.id %}" class="btn btn-info" role="button">
    <span class="glyphicon glyphicon-plus"></span>Add a new lessons</a>
    <h2>Course plan</h2>
    <p></p>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th width="3%">#</th>
          <th width="20%">Subject</th>
          <th width="30%">Description</th>
         </tr>
      </thead>
      <tbody>
      {% for lesson in lessons %}
        <tr>
          <td>{{ lesson.order }}</td>
          <td>{{ lesson.subject }}</td>
          <td>{{ lesson.description|linebreaksbr }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock content %}